html, body {
    position: relative;
    top:0;
    margin:0;
    width:100%;
    height:100%;
    z-index:-2;
}



#game {
    position:relative;
    top:0;
    left:0;
    overflow:scroll;
    box-sizing:padding-box;
    width:calc(100% - 150px);
    height:calc(100% - 150px);
}

#game:after {
content: "";
/*this is just a joke  */
background-image: url('img/bg_pattern.jpg');
opacity: 0.8;

background-color: black;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;
}

#game div{
    position:absolute;
    margin-top:calc(50vh - 200px);
    margin-left:calc(50% - 100px);
    box-shadow:5px 5px 15px 0px rgba(50, 50, 50, 0.52);
}

/*
/* this is to trigger scroll before the tiles reach the corners */
/*
#game div::after {
    position:absolute;
    content:' ';
    width:300px;
    height:300px;
    left:-100px;
    top:-100px;
    z-index:-1;
}
*/
#hand {
    position: fixed;
    bottom:0;
    height:150px;
    width:100%;
    background:#dadada;
}

#options {
    position:fixed;
    right:0;
    top:50%;
    background:#adadad;
    width:150px;
    height:calc(50% - 150px);
}
#r {
    background:rgba(255,0,0,0.3);
    margin-bottom:15px;
}

#scores {
    width:150px;
    background:#fdfdfd;
    height:calc(50% - 150px);
    position:fixed;
    right:0;
    top:0;
}
